.tasks {
    display: flex;
    flex-direction: row;
}
.newTask {
    margin-right: 2%;
    position: absolute;
    right: 0;
}
.header {
    background-color: #3FBFC0;
    width: 100%;
}
body {
    background-color: #F6F0E4;
}
.modalNewTask {
    width: 25%;
    height: 25%;
    display: none;
}
.newTaskContent  {
    padding-top: 5%;
}