body {
  width: 100%;
  height: 100%;
}
.tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 2px solid black;
  border-radius: 5%;
  margin: 2px;
  padding: 10px;
  height: 50vh;
}
.tarefa {
  overflow: scroll;
}
.categoria {
  color: white;
  background-color: #6b6b6b;
  text-align: center;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #f6f0e4;
}
.newTask {
  margin-right: 2%;
  position: absolute;
  right: 0;
}
.header {
  background-color: #3fbfc0;
  width: 100%;
}
.modalNewTask {
  width: 25%;
  height: 25%;
  display: none;
  left: 37.5%;
  top: 20%;
  position: absolute;
}
.newTaskContent {
  padding-top: 5%;
}
